.list-item-text {
  .MuiListItemText-primary {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    font-weight: 300;
    font-size: 15px;
  }
}

@media screen and (min-width: 1024px){
  .active-list::-webkit-scrollbar {
    width : 4px;  /*高宽分别对应横竖滚动条的尺寸*/
    height: 1px;
  }
  .active-list::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    background   : #535353;
  }
  /*滚动条里面轨道*/
  .active-list::-webkit-scrollbar-track {
    box-shadow   : inset 0 0 5px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    background   : #ededed;
  }
}
