.note {
	color: darkgrey;
	font-size: 14px;
}
.release-time {
	// color: darkgrey;
	// font-size: 14px;
}
.pv {
	// float: right;
}

.code-style {
	border-radius: 3px;
}

// .id-link {
// }

.article {
	width: 100%;
	.grid-container {
		margin: 0 auto;
		max-width: 1200px;
		@media screen and (min-width: 769px) {
			display: grid;
			grid-template-columns: minmax(0, 1.5fr) minmax(0, 6fr);
			grid-gap: 3rem;
			gap: 3rem;
			grid-template-areas: "toc main";
			padding-left: 1rem;
			padding-right: 1rem;
		}
		.toc {
			display: none;
			@media screen and (min-width: 769px) {
				grid-area: toc;
				display: block;
				position: sticky;
				top: 70px;
				height: 100vh;
				.toc-tree-container {
					border-right: 1px solid #e6ecf1;
				}
			}
		}
		main {
			@media screen and (min-width: 769px) {
				grid-area: main;
			}
		}
	}
}
