@import "src/common/utils";
.BreadCrumbs-container {
  display: inline-block;
  height: 100%;
  margin-left: 20px;
  @include font(0.775rem);
  @media screen and (max-width: 293px){
    //设备宽度小于293像素的话就不显示面包屑
    display: none;
  }
}
.BreadCrumbs-container-children {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
}
