.home-group {
  display: flex;
  flex-direction: column;
  @media screen and (min-width: 1024px){
    display: flex;
    flex-direction: row;
  }
}

.home-cards {
  margin-top: 5px;
  @media screen and (min-width: 1024px){
    justify-content: space-between;
  }
}

.home-cards-items {
  // width >= 1024px
  @media screen and (min-width: 1024px){
    flex: 1;
    max-width: 500px;
  }
  @media screen and (max-width: 1713px) {
    max-width: 400px;
  }
  @media screen and (max-width: 1410px) {
    max-width: 360px;
  }
  @media screen and (max-width: 1280px) {
    max-width: 320px;
  }
  @media screen and (max-width: 1150px) {
    max-width: 280px;
  }
  @media screen and (max-width: 1025px) {
    max-width: none;
  }
}
.home-group-top {
  margin-top: 25px;
  padding: 0 40px;
}
