$imageWidth: 80px;
$imageHeight: 80px;
@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: true;
}
@import "../../common/utils.scss";
@keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
}
.person-card-container {
    width: 300px;
    height: 400px;
    background: rgba(0, 0, 0, 0.4);
    border-radius: 5px;
}

.person-card-image-container {
    position: relative;
    border-radius: 5px;
}

.person-card-image-sub-container {
    position: relative;
    max-width: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    vertical-align: middle;
    height: 250px;
    // transform: translateY(calc(50%));
}
