.person-card-container {
    position: absolute;
    width: 300px;
    height: 300px;
    float: left;
    perspective: 500px;
}

.person-card-content {
    position: absolute;
    width: 100%;
    height: 100%;
    // box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 1s;
    transform-style: preserve-3d;
}



.person-card-trigger {
    transform: rotateY(180deg);
    transition: transform .9s cubic-bezier(0, 0, .48, 1.23);
}


.person-card-front,
.person-card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    color: #03446A;
    text-align: center;
    // font-size: 60px;
    border-radius: 5px;
    backface-visibility: hidden;
    // transform: rotateY(180deg);
}

.person-card-back {
    // background: #03446A;
    // color: white;
    transform: rotateY(180deg);
}