.k-card-list-item-container {
    padding: 0 50px 20px;
    display: inline-block;
}

.k-card-list-item-hr {
    height: 4px;
}

.k-card-list-item-icon {
    font-size: 15px;
    color: rgba(0, 0, 0, 0.7);
    padding-bottom: 1px;
}

.k-card-list-item-icon-value {
    font-size: 14px;
    color: rgba(0, 0, 0, 0.7);
    font-weight: 300;
    padding-top: 10px;
}