.accordion-container {
  box-shadow: none !important;
  border-radius: 0 !important;
  border-bottom: 1px solid #ccc;
  width: 100% !important;
}
.typography {
  @import "src/common/utils";
  @include font(0.775rem);
}

.typography-detail-btn {
  color: black !important;
}
.accordion-signal-item {
  padding: 0 16px !important;
  min-height: 48px !important;
  justify-content: flex-start !important;
  -webkit-justify-content: flex-start !important;
  -webkit-box-pack: start !important;
}
