.carousel-container {
  margin: 0 auto;
  margin-top: 5px;
  background-color: #fff;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
  border-radius: 3px;
}
@mixin media {
  @media screen and (min-width: 1024px){
    max-width: 600px;
    max-height: 380px;
  }
}
.carousel-card-container {
  margin: 0 auto;
  border-radius: 5px;
  flex: 1;
  max-height: 500px;
  flex-direction: row;
  @include media;
}
.carousel-card {
  margin: 0 auto;
  display: flex;
  justify-content: center;
}
.img {
  display: inline-block;
  object-fit: fill;
  border-radius: 5px;
  @include media ;
}
.img:hover {
  transform: scale(1.03);
  transition: .8s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}
