.md-heading {
	.md-anchor {
		text-decoration: none;
		color: #8000FF;
		font-size: 1em;
		opacity: 0;
		margin-left: -1em;
		height: 100%;
		display: inline-block;
		user-select: none;          /* Likely future */      
		-webkit-user-select: none;  /* Chrome all / Safari all */
		-moz-user-select: none;     /* Firefox all */
		-ms-user-select: none;      /* IE 10+ */
		
	}
	.md-title {
		code {
			background-color: rgba(175, 184, 193, 0.2);
			border-radius: 4px;
			padding: 5px;
		}
		// text-indent: 1em;
	}
	.anchor {
		cursor: pointer;
	}
	.octicon {
		vertical-align: middle;
		cursor: pointer;
	}
}
.md-heading:hover {
	.md-anchor {
		opacity: 1;
	}
}
