.md-heading {
	.md-anchor {
		text-decoration: none;
		color: #8000FF;
		font-size: 1em;
		opacity: 0;
		margin-left: -1.5em;
		// padding-right: 4px;
		height: 100%;
		display: inline-block;
		user-select: none;
	}
	.md-title {
		code {
			background-color: rgba(175, 184, 193, 0.2);
			border-radius: 4px;
			padding: 5px;
		}
		// text-indent: 1em;
	}
	.anchor {
		display: inline-flex;
		cursor: pointer;
	}
	.octicon {
		vertical-align: middle;
		cursor: pointer;
	}
}
.md-heading:hover {
	.md-anchor {
		opacity: 1;
	}
}
