.toc-tree-container {
	a {
		text-decoration: none;
	}
}
.toc-li {
	list-style-type: none;
	ul {
		padding-inline-start: 20px;
	}
}
.toc-tree-container > .toc-li > ul {
	padding-inline-start: 0;
}

.toc-anchor-link {
	color: #74818d;
	font-size: 15px;
	font-weight: bold;
	cursor: pointer;
}
.toc-anchor-link:hover {
	color: #3884ff;
}
.toc-anchor {
	opacity: 0;
	margin-left: -1em;
	// padding-right: 4px;
	height: 100%;
	width: 1em;
	display: inline-block;
	user-select: none;
	cursor: pointer;
}
.toc-anchor-contaienr:hover {
	.toc-anchor {
		opacity: 1;
	}
}
.toc-anchor-close {
	// padding-right: 0.5em;
}
.toc-expander {
	// padding-right: 1em;
}

.toc-list-open {
	display: block;
}

.toc-list-close {
	display: none;
}
