@import "src/common/utils";
.SummerDream {
  @include block();
  padding: 0 20px 20px 20px;
  height: 257px;
  display: inline-block;
  vertical-align:top;
  margin-left: 20px;
  @media screen and (max-width: 1601px){
    display: none;
  }
  @media screen and (min-width: 760px) and (max-width: 1025px){
    width: 200px;
  }

}
