.card-flip-container {
    position: absolute;
    width: 300px;
    height: 300px;
    float: left;
    perspective: 500px;
}

.card-flip-content {
    position: absolute;
    width: 100%;
    height: 100%;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    transition: transform 1s;
    transform-style: preserve-3d;
}

.card-flip-container:hover .card-flip-content {
    transform: rotateY(180deg);
    transition: transform 0.6s;
}

.card-flip-front,
.card-flip-back {
    position: absolute;
    height: 100%;
    width: 100%;
    color: #03446A;
    text-align: center;
    font-size: 60px;
    border-radius: 5px;
    backface-visibility: hidden;
}

.card-flip-back {
    background: #03446A;
    color: white;
    transform: rotateY(180deg);
}