@import "src/common/utils";
.card-container {
  @include block();
  padding: 0 20px 20px 20px;
}
.card-container-title {
  @include font();
  //font-weight: 300 !important;
  margin-left: 20px;
}
.card-container-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.card-container-body-item {
  flex: 1 1 !important;
}
