@import "src/common/utils";
.card-container {
  @include block();
  padding: 0 20px 20px 20px;
  @media screen and (min-width: 769px){
    max-width: 720px;
  }
}
.card-container-title {
  @include font();
  margin-left: 20px;
}
.card-container-body {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  @media screen and (max-width: 769px){
    flex-direction: column;
    padding: 0 20px;
  }
}
.card-container-body-item {
  flex: 1 1 !important;
  @media screen and (max-width: 769px){
    max-width: none !important;
    margin-top: 20px;
  }
}
