.nav-bar-item {
  display: inline-block;
  float: right;
  line-height: 60px;
  margin-right: 25px;
}
.nav-bar-item-hover {
  background-color: #ccc;
}
.menu-item {
  font-size: 14px !important;
  font-weight: 300 !important;
  background-color: #fff;
}
